<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ios27.accountms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Outaccountinfo" android:label="@string/outaccount">
        </activity>
        <activity android:name=".Accountflag" android:label="@string/accountflag">
        </activity>
        <activity android:name=".AddInaccount" android:label="@string/addinaccount">
        </activity>
        <activity android:name=".FlagManage" android:label="@string/flagmanage">
        </activity>
        <activity android:name=".Inaccountinfo" android:label="@string/inaccountinfo">
        </activity>
        <activity android:name=".InfoManage" android:label="@string/infomanage">

        </activity>
        <activity android:name=".MainActivity" android:label="@string/mainactivity">
        </activity>
        <activity android:name=".OutInaccount" android:label="@string/inaccount">
        </activity>
        <activity android:name=".Showinfo" android:label="@string/showinfo">
        </activity>
        <activity android:name=".Sysset" android:label="@string/sysset">
        </activity>

    </application>

</manifest>